# backend/requirements.txt
Flask
Flask-Bcrypt
Flask-Session
Flask-Cors
Flask-SQLAlchemy
Flask-Migrate
SQLAlchemy
openai
requests
nltk
language-tool-python
python-dotenv
cerebras-cloud-sdk
groq
setuptools